In [15]:
import pandas as pd

filename = 'aishub-2025-01-12_11.57.08.csv'
df = pd.read_csv(filename)

In [24]:
df.columns

Index(['mmsi', 'timestamp', 'latitude', 'longitude', 'cog', 'sog', 'heading',
       'navstat', 'imo', 'name', 'callsign', 'TYPE', 'A', 'B', 'C', 'D',
       'draught', 'dest', 'eta'],
      dtype='object')

In [28]:
df = df.rename(columns={"MMSI":'mmsi','TSTAMP': 'timestamp', 'LATITUDE':'latitude', 'LONGITUDE':'longitude','COG':'cog','SOG':'sog','HEADING':'heading','NAVSTAT':'navstat','IMO':'imo','NAME':'name','CALLSIGN':'callsign','DRAUGHT':'draught','DEST':'dest','ETA':'eta',"TYPE":'type'})

In [25]:
df["timestamp"] = pd.to_datetime(df["timestamp"].str.replace("GMT", "").str.strip(), format="%Y-%m-%d %H:%M:%S")

In [40]:
#df['eta'].replace("00-00 00:00", pd.NA)
df['eta'] = pd.to_datetime(df["eta"], format="%m-%d %H:%M", errors='coerce')
df['eta'] = df['eta'].apply(lambda x: x.replace(year=2025) if pd.notnull(x) else x)

In [46]:
df = df.sort_values(by='timestamp', ascending=True)
df = df.reset_index(drop=True)

In [51]:
df['imo'].replace(0, pd.NA, inplace=True)

In [52]:
df

,mmsi,timestamp,latitude,longitude,cog,sog,heading,navstat,imo,name,callsign,type,A,B,C,D,draught,dest,eta
0,219837000,2025-01-12 10:22:04,57.28767,8.18119,57.1,1.6,43,7,<NA>,T138 POSEIDON GILNET,XP4826,30.0,11.0,6.0,3.0,2.0,3.5,HJEM.TIL KIRSTEN,NaT
1,232041414,2025-01-12 10:22:05,51.80492,1.03068,242.3,0.0,511,15,<NA>,INTREPID,MLH09,37.0,9.0,2.0,2.0,2.0,0.0,NaN,NaT
2,730153872,2025-01-12 10:22:05,10.14441,-74.94482,182.2,3.6,511,1,<NA>,IMPALA CANTAGALLO,HK2126,52.0,20.0,20.0,7.0,7.0,0.0,CARTAGENA.,2025-11-08 12:00:00
3,470978000,2025-01-12 10:22:05,24.84162,53.61572,42.6,0.1,182,5,9390795.0,ADNOC 710,A6E3126,39.0,15.0,32.0,7.0,5.0,3.5,ZAKUM FIELD,2025-12-27 09:00:00
4,431006206,2025-01-12 10:22:06,35.63626,139.75886,232.5,0.0,42,0,<NA>,MUSASHI,JD3817,52.0,15.0,22.0,4.0,6.0,2.8,>JP TYO H,2025-01-09 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41850,232026198,2025-01-12 10:53:01,50.88244,-1.30093,321.5,0.0,511,15,<NA>,RIO,MGTB6,37.0,11.0,1.0,2.0,2.0,0.0,NaN,NaT
41851,235013884,2025-01-12 10:53:01,50.11672,-5.52961,360.0,0.0,511,0,8843329.0,KMS TERRAMARE,ZQWK3,79.0,16.0,7.0,6.0,2.0,1.6,PENZANCE,2025-01-09 22:30:00
41852,235059525,2025-01-12 10:53:01,51.46210,0.26932,317.3,0.3,56,0,9381794.0,VB STRATHDON,2AGW8,52.0,16.0,16.0,6.0,6.0,3.5,TOWAGE OPS,2025-09-24 16:00:00
41853,352001883,2025-01-12 10:53:01,57.40237,11.46352,159.0,12.6,158,0,9254240.0,DUKE II,3E3697,89.0,146.0,37.0,16.0,16.0,7.9,FOR ORDERS,2025-01-15 09:00:00
41854,225394000,2025-01-12 10:53:01,41.34631,2.15214,79.3,0.0,511,0,9521186.0,WILLY-T,ECOT,52.0,13.0,15.0,8.0,7.0,5.2,BCN,2025-04-26 07:00:00